/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Rockwell-Extra-Bold';
    src: url(fonts/Rockwell-ExtraBold.woff2) format('woff2'),
         url(fonts/Rockwell-ExtraBold.woff) format('woff');
}
@font-face {
    font-family: 'Georgia';
    src: url(fonts/Georgia.woff2) format('woff2'),
         url(fonts/Georgia.woff) format('woff');
}
body {
    overflow: hidden;
}
p {
    font-size: 1rem;
    font-family: 'Georgia';
}
a {
    text-decoration: none;
}
select, form {
    font-family: 'Georgia';
}
img {
    max-width: 100%;
}


/* General Layout */
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.col {
    display: flex;
    flex-direction: row;
}
.container-date {
    position: absolute;
    left: 840px;
    top: 50px;
    padding: 1rem;
}

/* User Input */
.form-control {
    width: 90px;
    font-family: 'Georgia';
}
.month-input {
    display: inline;
    padding-right: 1rem;
}
.day-input {
    display: inline;
    padding-right: 1rem;
}



.album {
    position: relative;
    width: 186px;
    height: 186px;
    margin: .25rem;
}


.front {
    transition: 250ms;
}
.back {
    opacity: 0;
}
.background {
    background: rgb(37, 34, 68);
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: -1;
    transform: scale(.6, 1.2);
    border-radius: 0.5rem;
    opacity: 0;
}

#miseducation .background {
    background: #faeec5;
}
#blonde .background {
    background: #ace095;
}
#mbdtf .background {
    background: #df8383;
}
#blueprint .background {
    background: #839fdf;
}
#telefone .background {
    background: #b592c4;
}
#take-care .background {
    background: #e4dbb5;
}
#stankonia .background {
    background: #dbdbdb;
}
#swimming .background {
    background: #dfb2c4;
}
#under-pressure .background {
    background: #e0cd9b;
}
#monster .background {
    background: #c87d76;
}
#eternal-atake .background {
    background: #8fc2d8;
}
#tpab .background {
    background: #d2d5d6;
}

.album:not(.no-hover):hover .front{
    transform: translateY(-15%);
    overflow: hidden;
}

.active{
    z-index: 999;
}
.active .background {
    transition: transform 350ms ease-in-out, opacity 100ms linear;
    transform: scale(1.3, 1.6) translateY(25%);
    opacity: 1;
}
.active .front {
    transform: translateY(-45%);
}
.active .back {
    transform: translateY(-40%);
    opacity: 1;
}





.title {
    font-family: 'Rockwell-Extra-Bold';
    margin-bottom: 0.5rem;
}
.description p{
    font-size: 0.95rem;
}






  
  
