/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Rockwell-Extra-Bold';
    src: url(fonts/Rockwell-ExtraBold.woff2) format('woff2'),
         url(fonts/Rockwell-ExtraBold.woff) format('woff');
}
@font-face {
    font-family: 'Georgia';
    src: url(fonts/Georgia.woff2) format('woff2'),
         url(fonts/Georgia.woff) format('woff');
}
body {
    overflow: hidden;
    background-image: url(images/background.svg);
    background-size: cover;
}
p {
    font-size: 1rem;
    font-family: 'Georgia';
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
a {
    text-decoration: none;
}
select, form {
    font-family: 'Georgia';
}
img {
    max-width: 100%;
}
button {
    cursor: pointer;
}


/* GENERAL LAYOUT */

.container {
    height: 107vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.col {
    display: flex;
    flex-direction: row;
}
.header-input {
    display: flex;
    justify-content: flex-start;   
    position: absolute;            
    width: 100%;
    top: 2rem;
}
.container-date {
    flex: 0 1 auto;
    position: absolute;             
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
#title {
    font-family: 'Rockwell-Extra-Bold';
}
#subheading {
    font-family: 'Georgia';
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: grey;
}

/* HELP BTN + MODAL */

#help-btn {
    width: 50px;
    height: 50px;
    flex: 0 1 auto;
    margin-left: auto; 
    margin-right: 4.5rem;
    background-image: url(images/help.svg);
    background-size: contain;
    border: none;
}
#myModal0 {
    padding-top: 200px; /* Location of the box */
    left: 35%; /* Location of the box */
    background: none;
}
#help-modal-container {
    width: 20rem;
    height: 20rem;
    -webkit-animation-name: animateleft;
    -webkit-animation-duration: 0.4s;
    animation-name: animateleft;
    animation-duration: 0.4s;
    background-color: #ffff;
}
#help-header h2{
    padding: 2rem 2rem 0 2rem;
    font-size: 2rem;
    font-family: 'Rockwell-Extra-Bold';
}
#help-body p {
    padding: 2rem;
    font-size: 1.3rem;
}


/* USER INPUT */
#bday {
    font-family: 'Georgia';
}
#userSubmit {
    cursor: pointer;
    padding: .25rem;
    border-radius: .5rem;
}


/* ALBUMS */

.album {
    position: relative;
    cursor: pointer;
    width: 186px;
    height: 186px;
    margin: .25rem;
    border: none;
    background: none;
    text-align: left;
    transition: .3s;
}
.title {
    font-family: 'Rockwell-Extra-Bold';
    font-size: 1.6rem;
    grid-column: 1 / span 2; 
    grid-row: 1;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
}

/* Modals */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    transition: .4s;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 840px;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-button-album {
    width: 186px;
    height: 186px;
    background-size: contain;
    border: none;
    margin: .25rem;
    transition: .3s;
}
.modal-button-album:hover {
    transform: translateY(-15%);
    overflow: hidden;
}

/* Btn Covers */

#miseducation {
    background-image: url("images/miseducational_of_laurynhill.jpg");
}
#blonde {
    background-image: url("images/blonde.jpeg");
}
#mbdtf {
    background-image: url("images/mbdtf1.jpg");
}
#blueprint {
    background-image: url("images/bp1.jpg");
}
#telefone {
    background-image: url("images/telefone.jpg");
}
#take-care {
    background-image: url("images/take_care.jpg");
}
#stankonia {
    background-image: url("images/stankonia.jpg");
}
#swimming {
    background-image: url("images/swimming.jpg");
}
#under-pressure {
    background-image: url("images/under_pressure.jpg");
}
#astroworld {
    background-image: url("images/astroworld.jpg");
}
#illmatic {
    background-image: url("images/illmatic.jpg");
}
#tpab {
    background-image: url("images/tpab.jpg");
}

/* Modal Content Backgrounds */
#miseducation-content {
    background-image: url("images/miseducational_of_laurynhill-bg.svg");
}
#blonde-content {
    background-image: url("images/blonde-bg.svg");
}
#mbdtf-content {
    background-image: url("images/mbdtf-bg.svg");
}
#blueprint-content {
    background-image: url("images/bp1-bg.svg");
}
#telefone-content {
    background-image: url("images/telefone-bg.svg");
}
#take-care-content {
    background-image: url("images/take_care-bg.svg");
}
#stankonia-content {
    background-image: url("images/stankonia-bg.svg");
}
#swimming-content {
    background-image: url("images/swimming-bg.svg");
}
#under-pressure-content {
    background-image: url("images/under_pressure-bg.svg");
}
#astroworld-content {
    background-image: url("images/astroworld-bg.svg");
}
#illmatic-content {
    background-image: url("images/illmatic-bg.svg");
}
#tpab-content {
    background-image: url("images/tpab-bg.svg");
}

/* Album Modal Content */

.album-modal-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    max-height: 30rem;
}
.album-modal-grid img{
    padding: 1rem;
    margin-left: 3rem;
    margin-top: 1rem;
    width: 20rem;
    grid-column: 1 / span 2; 
    grid-row: 2;
}
.album-modal-grid p{
    padding-top: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    grid-column: 3 / span 2; 
    grid-row: 2 / span 3;
    font-size: 1.2rem;
}
.album-modal-grid h3{
    font-family: 'Rockwell-Extra-Bold';
    font-size: 1.6rem;
    grid-column: 1 / span 2; 
    grid-row: 1;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
}
.album-modal-grid h4{
    font-family: 'Rockwell-Extra-Bold';
    font-size: 1.6rem;
    padding-top: 2rem;
    margin-right: 2rem;
    grid-column: 4; 
    grid-row: 5;
    font-size: 1.1rem;
}

/* Close Btn */

.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
    grid-column: 4;
    justify-self: end;
    padding-top: 2rem;
    padding-right: 2rem;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Animation */

.album:not(.no-hover):hover {
    transform: translateY(-15%);
    overflow: hidden;
}
@-webkit-keyframes animatetop {
    from {top:-400px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-400px; opacity:0}
    to {top:0; opacity:1}
}
@-webkit-keyframes animateleft {
    from {right:-300px; opacity:0} 
    to {right:0; opacity:1}
}
@keyframes animateleft {
    from {right:-300px; opacity:0} 
    to {right:0; opacity:1}
}













  
  
