/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Rockwell-Extra-Bold';
    src: url(fonts/Rockwell-ExtraBold.woff2) format('woff2'),
         url(fonts/Rockwell-ExtraBold.woff) format('woff');
}
@font-face {
    font-family: 'Georgia';
    src: url(fonts/Georgia.woff2) format('woff2'),
         url(fonts/Georgia.woff) format('woff');
}
p {
    font-size: 1rem;
    font-family: 'Georgia';
}
a {
    text-decoration: none;
}
select, form {
    font-family: 'Georgia';
}


/* General Layout */
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-date {
    position: absolute;
    left: 640px;
    top: 50px;
    padding: 1rem;
}
/* User Input */
.form-control {
    width: 90px;
    font-family: 'Georgia';
}
.month-input {
    display: inline;
    padding-right: 1rem;
}
.day-input {
    display: inline;
    padding-right: 1rem;
}

/* Cards */
.box {
    width: 186px; 
    height: 186px;
    overflow: hidden;
    transition: 0.3s ease-in;
}
.box img {
    width: 100%;
}
.card {
    border-radius: 1rem;
    position: relative;
    background-color: white;
    transition: all 0.3s ease-out;
    cursor: pointer;
    left: 0px;
    content: attr(data-file);
	color: inherit;
	border: none;
	font: inherit;
    outline: inherit;
    text-align: left;  
}
.title {
    font-family: 'Rockwell-Extra-Bold';
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.details{
    margin-left: 1rem;
    margin-right: 1rem;
}
.description {
    padding-bottom: 1rem;
}
.faded-sign {
    font-family: 'Rockwell-Extra-Bold';
    color: #B5B5B5;
    display: inline;
}

/* Animations */
.card:hover {
    transform: scale(1.1);
    transition: 0.4s ease-out;
    z-index: 999;
}

.active, .card:active {
    transform: scale(1.4);
}







  
  
